<div class="d-flex justify-content-between mb-4">
  <h5 class="font-weight-bold">Listado de proyectos.</h5>
  <a routerLink='/home/proyectos/nuevo' class="btn btn-primary">Nuevo proyecto</a>
</div>
<div class="table-responsive text-center">
  <table class="table table-hover table-bordered table-sm">
    <thead class="cabecera-tabla">
      <tr>
        <th scope="col">Código</th>
        <th scope="col">Nombre</th>
        <th scope="col">Cliente</th>
        <th scope="col">Fecha inicio</th>
        <th scope="col">Fecha fin</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody *ngIf="valList()">
      <!--tr *ngFor="let p of proyectsLs"-->
      <tr *ngFor="let p of proyectsInfo" >
        <td>{{p.proyecto.codProyecto}}</td>
        <td>{{p.info.nombre}}</td>
        <td>{{p.info.nombreCliente}}</td>
        <td>{{p.proyecto.fechaInicio}}</td>
        <td>{{p.proyecto.fechaFin}}</td>
        <td>
          <a placement="left" ngbTooltip="Editar proyecto: {{p.info.nombre}}" (click)="verProyecto(p)" data-toggle="modal"
            data-target=".modal-editar-proyecto">
            <i class="fas fa-pencil-alt fa-lg"></i>
          </a>
          <a placement="left" ngbTooltip="Ver proyecto: {{p.info.nombre}}" (click)="verProyecto(p)" data-toggle="modal"
            class="mx-2" data-target=".modal-ver-proyecto">
            <i class="fas fa-eye fa-lg"></i>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<app-editar-proyecto [proyecto]="proyectoSeleccionado"></app-editar-proyecto>
